@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.card_style {
  @apply w-[327px] h-[478px] rounded-[15px] bg-[#FDF3F0] text-center hover:bg-[#E7816B] hover:text-white;
}

.h3_style {
  @apply text-[20px] tracking-[5px] font-medium text-[#E7816B] group-hover:text-white;
}

div.app {
  background-image: url(./images/Object.png);
  background-repeat: no-repeat;
  background-size: cover;
}

div.web {
  background-image: url(./images/Bitmap\ \(2\).png);
  background-repeat: no-repeat;
  background-size: cover;
}
